body {
   margin: 0px;
    font-family: 'Roboto', Areal, sans-serif; 
    color: #000000;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    font-weight: 500;
}
.btn-red {
    background-color: #fb565a;
    color: #ffffff;
}
.btn-yellow {
    background-color: #efc84a;
    color: #ffffff;
}
    .btn-green {
    background-color: #00ca74;
    color: #ffffff;
}
        .btn-grey {
    background-color: #eeeeee;
    color: #000000;
}
}
.page-header-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    }
header   {
    background-color: #eeeeee;
    }
.page-nav {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-decoration: none;
}
.slider-item h3 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}
.slider-item p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
}

.features-list h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}
.features-list p {
    color: #283136;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.about-us h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    
}
.about-us p {
    color: #283136;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    }
.about-us h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.order-list li {
    color: #283136;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
 }
.advantages caption {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    }
tr th {
    color: #283136;
    font-size: 45px;
    line-height: 10.06px;
    font-weight: 700;
}
tr td {
    color: #283136;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.filters legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
   }
.filters filter-option {
    color: #283136;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    background-color: #eeeeee;
}
.catalog p {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}   
.select li  {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
.catalog-item-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}
.catalog-item p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    background-color: #666666;
}
.pagination-item {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}
.contact-title  {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}
.contact-text {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
}
.social-text h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}
.social-text p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #444444;
}

